<footer class="footer">
    <div class="wrapper">
        <div class="footer__brand">
            {{> icons/site/logo}}
            <p>We make it 10x faster and cheaper to increase qualified pipeline with AI-driven ABM that scales with your ambition.</p>
        </div>
        <nav class="footer__nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">Features</a></li>
                <li><a href="/">Pricing</a></li>
            </ul>
            <ul>
                <li><a href="/">About</a></li>
                <li><a href="/">Contact</a></li>
                <li><a href="/">Policies</a></li>
                <li><a href="/">Privacy</a></li>
            </ul>
            <ul>
                <li><a href="/">Login</a></li>
                <li><a href="/">Sign Up</a></li>
                <li><a href="/">Resources</a></li>
                <li><a href="/">Careers</a></li>
            </ul>
        </nav>
        <div class="footer__form">
            <p>Subscribe to our newsletter</p>
            {{> components/form short='true'}}
        </div>
    </div>
    <div class="footer__bottom">
        <div class="wrapper">
            <p>© 2024 All rights reserved</p>
            <p>RevvedUp AI Limited | Company number 15575110 | Registered in England and Wales | 128 City Road, London, EC1V 2NX</p>
        </div>
    </div>
</footer>