<header class="header">
    <div class="wrapper">
        {{> icons/site/logo}}

        <nav class="header-navigation">
            <ul>
                <li><a href="#">Feature</a></li>
                <li><a href="#">Price</a></li>
                <li><a href="#">Webinars</a></li>
                <li><a href="#">Resources</a></li>
            </ul>
        </nav>

        <div class="header__buttons">
            <a class="button button--transparent" href="#">Get Started</a>
            <a class="button" href="#">Demo {{> icons/site/message}}</a>
        </div>
    </div>
</header>