/* Featured */

.featured {
    padding: 4rem 0 6.8rem;

    &__cards {
        margin-top: 4.8rem;

        display: grid;
        grid-template-columns: 1fr min(41.1rem, 50%);
        column-gap: 2.4rem;
    }
}
