<section class="cta">
    <div class="wrapper">
        <h2 class="cta__title">Value-Led Growth</h2>
        <p class="cta__subtitle">Fuel revenue with amazing content</p>
        <a href="/" class="button">Get Demo {{> icons/site/message}}</a>
        <div class="cta__pros">
            <p>{{> icons/site/check}} Free Onboarding</p>
            <p>{{> icons/site/check}} Cancel anytime</p>
        </div>
    </div>
    {{> icons/cta/background-part}}
</section>