<section class="subscribe">
    {{> icons/subscribe/arrow classes='arrow'}}
    {{> icons/subscribe/sun classes='sun'}}
    <div class="wrapper">
        <h2 class="subscribe__title">Join the newsletter</h2>
        <p class="subscribe__subtitle">Stay in the loop with expert tips, industry insights, and updates.</p>
        {{> components/form}}
    </div>
</section>